node_modules
**/node_modules
dist
**/dist
build
**/build
temp
**/temp
.git
.gitignore
npm-debug.log*
*.log
coverage
**/coverage
client/build
client/temp
client/library
client/local
docs/playtest/*.png
docs/playtest/*.mp4
